<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="urls" value="http://www.real-estate.lviv.ua/sale-kvartira/Lviv/1/500-25000/p_1
         ,http://www.real-estate.lviv.ua/sale-kvartira/Lviv/1/500-25000/p_2
         ,http://www.real-estate.lviv.ua/sale-kvartira/Lviv/1/500-25000/p_3
         ,http://www.real-estate.lviv.ua/sale-kvartira/Lviv/1/500-25000/p_4
         ,http://www.real-estate.lviv.ua/sale-kvartira/Lviv/1/500-25000/p_5
         ,http://www.real-estate.lviv.ua/sale-kvartira/Lviv/1/500-25000/p_6" />
 </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>